/*------------- common colors ------------- */
$primary-color: #4267b2;
$white-color: #fff;
$black-color: #000;
/*------------- common colors ------------- */
/* dancing font */
$dancing-font: "Dancing Script", cursive;
$great-font: "Great Vibes", cursive;
$Pacifico-font: "Pacifico", cursive;
$lobster-font: "Lobster Two", sans-serif;
/* dancing font */
/* ----------- common font size-------------- */
$small-font-size: 12px;
$medium-font-size: 18px;
$large-font-size: 24px;
$extra-large-font-size: 28px;
/* ----------- common font size-------------- */

/* pages sytle sheet  */

/* --------------- login form page start ------------- */
.login-form {
  height: 510px;
}
/* --------------- login form page end ------------- */

/* --------------- signup form page start ------------- */
.signup-form {
  margin-top: 60px;
}
/* --------------- signup form page end ------------- */
